section{
    width: 500px;
    height: 500px;
    background-color: magenta;
}

#rgba {
    width: 50%;
    height: 50%;
    /*background-color: rgba(255,255,255, 0.7);*/ /*recommended when working with alpha channel since you can clearly see how transparent the element is */
    background-color: #af505081;
}

#opacity {
    width: 50%;
    height: 50%;
    background-color: yellow;
    opacity: 0.5;
}