<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    

    <h1>The Home Page</h1>

    <p>Hello this is math: <%= 4 + 5 + 1 %> </p>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ullam temporibus. Odio enim, impedit et dolorum vel assumenda ipsa ipsam consequuntur sunt, 
    libero, consectetur repellat aliquid unde quo expedita ex?</P>


    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad laboriosam sit, ullam ea, in nemo id corrupti, consectetur molestias corporis quae blanditiis tenetur? Modi, sapiente quae assumenda rem eligendi ratione.
    Totam voluptas exercitationem facere, consectetur a amet recusandae mollitia, temporibus nemo nobis nam itaque commodi officia quod id voluptatem deserunt unde consequatur quae corrupti odio perferendis placeat iure. Ea, placeat.
    Quas adipisci delectus iusto maiores consectetur. Ad corporis ipsa voluptas vel eum iure error, aperiam libero magnam qui exercitationem, reprehenderit explicabo hic eos, ullam necessitatibus! Harum adipisci non sequi corrupti?</p>


</body>
</html>